*{
	margin:0;padding:0;
}
body{
	background: #2C3E50;
	margin:100px 50px;
	color: #46CFB0;
	font-family: 'ubuntu','microsoft Yahei'
}

ul{
	font-size: 30px;
	list-style-type: none;
	padding-left: 3em;
}
.item{
	cursor: pointer;
	padding:0 4px;
}
.item:hover{
	background: #46CFB0;
	border-radius: 7px;
	color:#fff;
}

.open:before{
	content: " -- ";
}
.close:before{
	content: " + ";
}

.expand-transition {
	transition: all 0.3s ease;
	overflow: hidden;
	max-height: 1000px;
}

.expand-enter,
.expand-leave{
	opacity: 0;
	max-height: 0 !important;
}